/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, sans-serif;
    font-size: 15px;
    background-color: #F0D8DA;
    color: #7293A3;
}

h1,
h2 {
    margin: 20px;
}

main {
    padding: 60px 0;
}

li {
    display: inline;
    padding: 0px 20px;
}

a {
    color: #F0EDA8;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #7293A3;
}

header {
    position: fixed;
    border-bottom: 10px solid #A3A27A;
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-top: 10px solid #A3A27A;
    color: #F0EDA8;
}

p {
    margin: 15px;
}



img {
    margin: 20px;
    border-radius: 20px;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-bottom: 10px solid #A3A27A;
    background-color: #BFE0F0;
}

form {

    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #A3A27A;
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {
    height: 40px;
    width: 100px;
    background-color: #4F4846;
    color: #FDF8F5;
    margin-top: 10px;
}


/* Class selectors */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Media Queries */

/* Screen 992px */

/* Screen 768px */

/* Screen 576px */