/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, sans-serif;
    font-size: 15px;
    background-color: #F0D8DA;
    color: #7293A3;
}

h1,
h2 {
    margin: 25px;
}

main {
    padding: 60px 0;
}

li {
    display: inline;
    padding: 0px 20px;
}

a {
    color: #F0EDA8;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #7293A3;
}

header {
    position: fixed;
    border-bottom: 10px solid #A3A27A;
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-top: 10px solid #A3A27A;
    color: #F0EDA8;
}

p {
    margin: 15px;
}



img {
    margin: 20px;
    border-radius: 20px;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-bottom: 10px solid #A3A27A;
    background-color: #BFE0F0;
}

/* form */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:35px auto; }

.feedback-input {
    color:#A3A27A;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #A3A27A;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #A3A27A; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#A3A27A;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: whitesmoke;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#A3A27A; }

/*
form {

    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #A3A27A;
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {
    height: 40px;
    width: 100px;
    background-color: #4F4846;
    color: #FDF8F5;
    margin-top: 10px;
}
*/

/* Class selectors */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Media Queries */

/* Screen 992px */

/* Screen 768px */

/* Screen 576px */